body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00003e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: #0eca30;
    font-size: 36px;
}

.game {
    /* background-color: #00002d; */
    background-color: #00003e;
    min-width: 70%;
    min-height: 60%;
    border-radius: 20px;
    border: solid 2px #0eca30;

}

.status {
    width: 100%;
    height: 20%;
    border-bottom: solid 2px #0eca30;
    color: #0eca30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_text {
    padding: 0;
    margin: 0;
    font-size: 48px;
}

.gamers {
    display: flex;
}

.gamer {
    width: 50%;
    height: 80%;
    color: #0eca30;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.items {
    background-color: #00003e;
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.name {
    font-size: 48px;
}

.choice {
    font-size: 48px;
}

.score {
    font-size: 48px;
}

.score_status {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.choiceImg {
    border-radius: 100%;
    max-width: 170px;
}

.img {
    border-radius: 100%;
    max-width: 100px;
}

.playAgain {
    color: #0eca30;
    font-size: 36px;
    border: solid 2px #0eca30;
    border-radius: 20px;
    padding: 25px;
    display: none;
}